
body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container
{
    position: relative;
}

.below-item__overlay
{
    position: absolute;
    z-index: 1;
}

.header
{
    text-align: center;
}

.images
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-left: 10px;
}

.images__item
{
    border: 5px solid rgb(200, 200, 200);
    border-radius: 10px;
    width: 50%;
}

.images__item:hover
{
    cursor: pointer;
}

.images__item__imgage
{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.images__item__text
{
    margin: 10px;
}

.images__item__text > *
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.item__overlay
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.75);
    z-index: 10;
}

.item__overlay__info
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    border: 10px solid rgb(140, 140, 140);
    border-radius: 10px;
    z-index: 15;
}

.item__overlay__info__image
{
    width: 100%;
}

.item__overlay__info__text > *
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.flex-container
{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
}

.info-input
{
    margin-left: 30px;
}